body {
    background-color: rgb(190, 192, 235);
}

#calculator {
    max-width: 397.16px;
    padding: 2rem;
    border-radius: .5rem;
    background-color: rgb(7, 7, 70);
    box-shadow: 12px 14px 12px rgba(11, 36, 55, 0.377);
    
}


#calculator form input {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    margin: .5rem;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    box-shadow: -6px -6px 12px rgba(105, 129, 247, 0.272), 5px 5px 10px rgba(0, 0, 0, 0.646);
}

.display {
    display: flex;
    
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
.displayTopRow {
    height: 2.5rem;
    width: 100%;
    text-align: right;
    padding: 1rem;
    border-radius: 1rem 1rem 0px 0px;
}
.displayTopRow h5 {
    font-weight: 700 !important;
}

.displayBottomRow {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 0px 1rem 1rem;
}

.displayInput {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px;
    height: 4rem;
    text-align: right;
    font-size: 3rem !important;
    box-shadow: none !important;
    color: rgb(7, 7, 70) !important;
}
.displayBackgroundColor {
    background-color: rgb(194, 201, 241);
}

.accentBackgroundColor {
    background-color: rgb(58, 181, 175) !important;
    
}
.accentFontColor {
    color: rgb(58, 181, 175) !important;  
}
.displayAccentColor {
    color: rgb(0, 96, 98) !important;  
}

#equal {
width: 9rem !important;

}



/* BREAKPOINTS */
